.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #37414a !important;
}

.logoText {
	color: white;
	padding-top: 5px;
}

.content {
	padding: 0 50px;
	background-color: white !important;
}

.contentHead {
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.totalValue {
	font-size: 20px;
	font-weight: bold;
}

.customerName{
	width: 300px;
}

.help-btn {
	margin-right: 10px;
}
