.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.ant-card-head-title {
	text-align: center;
}
.ant-card .ant-card-hoverable {
	cursor: default !important;
}
.login-div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.register-link {
	text-align: center;
}
